h3{
    text-align: center;
}

.unselected {
    background-color: SlateGray;
    position:relative;
    width: 100%;
    height: 100%;
    opacity: 0.20;
    -moz-opacity: 20%;
    -webkit-opacity: 20%;
    z-index: 2;
}

.grey-back{
    background-color: rgb(233, 236, 239);
}
h1{
    padding-top: 10px;
    padding-bottom: 20px;
}